<div class="row">
  <div class = "post span8 well">
    <% @categories = post.categories %>
    <%= render @categories %>
    <% if current_user == post.creator %>
    <small style="float:right"> <%= link_to "Edit", edit_post_path(post) %> </small>
    <% end %>
    <h5> <%= link_to post.title, fix_url(post.url) %> </h5> <!--post.url -->
    <p> <%= post.description %> </p>
    <p>
      <span class="quiet">Posted by </span>
      <%= post.creator.first_name + " " + post.creator.last_name %>
      <small>on <%= friendly_date(post.created_at) %></small>
    </p>
    <%
    total_comments = post.comments.length
    total_comments.nil? ? total_comments = '0' :  total_comments = total_comments.to_s
    comment_string = total_comments == 1 ? "Comment" : "Comments" %>
    <small class="quiet"> <%= link_to total_comments + " " + comment_string, post_path(post)%>
    </small>
  </div>
</div>
